header,nav,footer,article {display: block;}
nav{background-color: white; float:left; width:180px; margin-right: 5px;}
article {float:left; width:1000px;}
footer {clear:both;}

img {	border: 0;
		background: white;
	}

body {background-color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 16pt;
	font-weight: 300;
	}
	
p {
	margin-top: 10px; 
	padding-top: 0px;
	margin-bottom: 10px;
	padding-bottom: 0px;
	font-weight: 300;
	}	

a {	text-decoration:none;
	}



a:link {	color: black;
		font-weight: 600; 
		text-decoration: none;
	}

a:visited {	color: black;
		font-weight: 600; 
		text-decoration: none;
		border-bottom:0px dashed
	}

a:hover{background: black;
		color: white;
		font-weight: 600;
}

h1 {
	margin-top: 0px; 
	padding-top: 0px;
	color: black;
   margin-bottom: 0px;
	padding-bottom: 0px;
	background-colour: white;
	font-size: 50pt;
	font-weight: 600;
	font-style: none;
	}

h2{ 
	margin-top: 0px; 
   margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: black;
	font-size: 30pt;
	font-weight: 600;
	}

h3 {
	margin-top: 0px; 
   margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: black;
	font-size: 20pt;
	font-weight: 600;
	}

h4 { 
	margin-top: 10px; 
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: black;
	font-size: 14pt;
	}

h5 { 
	margin-top: 0px; 
	padding: 0px;
	color: black;
   margin-bottom: 0px;
	font-weight: normal;
	font-size: 14pt;
	font-style: italic;
	}

hr{	border: 0px;
	margin-bottom: 5px;
	margin-top: 5px;
	color: black;
	background-color: black;
	width: 100%;
	height: 7px;
	}

ul {  
	margin-left: 0px;
	padding-left: 5px;
	list-style-type: square;
   list-style-position: outside;
	position: relative; 
	left: 0px;
	}
	
li {
	font-size: 80%;
	position: relative; 
	left: 10px;
}

pre, tt, code { 
	font-size: 14pt;
	}
	
code.indent{
	display: block;
	margin-top: 10px; 
	margin-bottom: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative; 
	left: 20px;
}

table { background-color: #dddddd }

td { 	font-size: 10pt;
	background-color: #dddddd ;
	}

td.light { background-color: #eeeeee }

td.darker { background-color: #cccccc }

th { background-color: #bbbbbb }

div.cbox{
	background-color:	rgb(237,237,237);
	padding-left: 0pt;
	}
	
	
#nav ul{
	font-size: 10pt;
	list-style-type: none;
	margin-top: 0px; 
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

#nav h4{
	margin-top: 5px; 
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

#nav br{
	margin-top: 0px; 
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

#nav a:link {	color: black;
		font-weight: 400; 
		text-decoration: none;
		border-bottom:0px dashed
	}

#nav a:visited {	color: black;
		font-weight: 400; 
		text-decoration: none;
		border-bottom:0px dashed
	}

#nav a:hover{background: black;
		color: white;
		font-weight: 400;
	}